<div class="jumbotron">
	
	<div class="container">
		<h1><i class="fa fa-list-alt"></i> Todoapp</h1>
		<p>An awesome todo list made just for you!</p>
		<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
	</div>
</div>