<div class="jumbotron">
	
	<div class="container">
		<h1>Todoapp</h1>
		<p>This is my smart to do list in Ruby on Rails</p>
		<%= link_to "Sign Up", "#", class: 'btn btn-primary btn-lg' %>
	</div>
</div>